@page "/courses/{id:int}/details"
@inherits CourseDetailsBase

@if (Course == null || Course.PredmetiStudenti == null)
{
    <div class="spinner-border"></div>
}
else
{
    <h3>@Course.Naziv</h3>

    <h5>Enrolled students (@Course.PredmetiStudenti.Count)</h5>
    <ul class="list-group">
        @foreach (var e in Course.PredmetiStudenti)
        {
            <li class="list-group-item">@e.IdStudentaNavigation.Ime @e.IdStudentaNavigation.Prezime</li>
        }
    </ul>
}
