@page "/students"
@inherits StudentsBase
@inject NavigationManager NavigationManager

<header class="row mb-4">
    <h3 class="col-md-10">Popis studenata</h3>
    <a href="students/add" class="btn btn-success col-md-2">Add Student</a>
</header>

@if (students == null)
{
    <div class="spinner-border"></div>
}
else
{
    <table class="table">
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Predmeti</th>
            <th></th>
        </tr>
        @foreach (var student in students)
        {
            <tr>
                <td>@student.Ime</td>
                <td>@student.Prezime</td>
                <td>
                    @{
                        @foreach (var course in student.PredmetiStudenti)
                        {
                            <span>@course.IdPredmetaNavigation.Naziv</span><br />
                        }
                }
                </td>
                <td>
                    <button @onclick="@(() => NavigationManager.NavigateTo($"students/{student.Id}/edit"))" class="btn btn-primary">Edit</button>
                    <button @onclick="() => DeleteStudent(student.Id)" class="btn btn-outline-danger">Delete</button>
                </td>
            </tr>
        }
    </table>
}
