@page "/courses"
@inherits CoursesBase

<h3>Courses</h3>

@if (courses == null) 
{
    <div class="spinner-border"></div>
} 
else 
{
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Studenti</th>
        </tr>
        @foreach (var course in courses)
        {
    <tr>
        <td>@course.Id</td>
        <td>@course.Naziv</td>
        <td>
            @foreach (var student in course.PredmetiStudenti)
            {
            <span>@student.IdStudentaNavigation.Ime @student.IdStudentaNavigation.Prezime</span><br />
        }
            </td>
        </tr>
        }
    </table>
}